.materi-korespondensi-satu-satu-vEx {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .group-519-wQx {
    flex-shrink: 0;
    height: 90rem;
    margin-bottom: 7rem;
    position: relative;
    width: 144.1rem;

    .rectangle-328-npt {
      background-color: rgba(36, 187, 140, 0.0199999996);
      height: 90rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144rem;
    }
    .image-bg-srL {
      background-color: #f2f2f2;
      border-radius: 1rem 1rem 0 0;
      height: 30.3rem;
      left: 81.1rem;
      position: absolute;
      top: 15.5rem;
      width: 45.4rem;
    }
    .diketahui-himpunan-a-1-2-3-dan-himpunan-b-a-b-c-relasi-darihimpunan-a-ke-himpunan-byang-merupakankorespondensi-satu-satudapat-dijabarkan-sebagai-berikut-BME {
      color: #1e1e1e;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      height: 5.2rem;
      left: 11.9rem;
      line-height: 1.625;
      position: absolute;
      top: 50.9rem;
      width: 120.6rem;

      .diketahui-himpunan-a-1-2-3-dan-himpunan-b-a-b-c-relasi-darihimpunan-a-ke-himpunan-byang-merupakankorespondensi-satu-satudapat-dijabarkan-sebagai-berikut-BME-sub-0 {
      }
      .diketahui-himpunan-a-1-2-3-dan-himpunan-b-a-b-c-relasi-darihimpunan-a-ke-himpunan-byang-merupakankorespondensi-satu-satudapat-dijabarkan-sebagai-berikut-BME-sub-1 {
        color: #1e1e1e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.625;
      }
      .diketahui-himpunan-a-1-2-3-dan-himpunan-b-a-b-c-relasi-darihimpunan-a-ke-himpunan-byang-merupakankorespondensi-satu-satudapat-dijabarkan-sebagai-berikut-BME-sub-2 {
      }
    }
    .berdasarkan-uraian-pada-tabel-banyaknyakorespondensi-satu-satuyang-mungkin-darihimpunan-a-ke-himpunan-badalahsebanyak-6-wme {
      align-items: baseline;
      color: #1e1e1e;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      height: 2.6rem;
      left: 12rem;
      line-height: 1.625;
      position: absolute;
      top: 84.5rem;
      white-space: nowrap;
      width: 101.6rem;

      .berdasarkan-uraian-pada-tabel-banyaknyakorespondensi-satu-satuyang-mungkin-darihimpunan-a-ke-himpunan-badalahsebanyak-6-wme-sub-0 {
      }
      .berdasarkan-uraian-pada-tabel-banyaknyakorespondensi-satu-satuyang-mungkin-darihimpunan-a-ke-himpunan-badalahsebanyak-6-wme-sub-1 {
        color: #1e1e1e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.625;
      }
      .berdasarkan-uraian-pada-tabel-banyaknyakorespondensi-satu-satuyang-mungkin-darihimpunan-a-ke-himpunan-badalahsebanyak-6-wme-sub-2 {
      }
    }
    .image-11-D6t {
      height: 26rem;
      left: 11.9rem;
      object-fit: cover;
      position: absolute;
      top: 57.3rem;
      vertical-align: top;
      width: 35.1rem;
    }
    .bagaimana-menyatakan-suatu-korespondensi-satu-satu-w2t {
      color: #141414;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 500;
      height: 11.6rem;
      left: 11.6rem;
      line-height: 1.45;
      position: absolute;
      top: 39.2rem;
      width: 58.3rem;
    }
    .frame-7-p6g {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 90rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144rem;

      .auto-group-vtzx-kW8 {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        padding: 2.8rem 12.3rem 0rem 12rem;
        width: 100%;

        .frame-5-TfS {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 7.2rem;
          margin: 0rem 31.617rem 0.1rem 0rem;

          .frame-3-ytg {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 100%;
            margin-right: 3rem;

            .image-2-hCQ {
              flex-shrink: 0;
              height: 7.2rem;
              margin-right: 5.5rem;
              object-fit: cover;
              vertical-align: top;
              width: 7.9826rem;
            }
            .input-with-label-pH2 {
              flex-shrink: 0;
              height: calc(100% - 2.8rem);
              margin: 1.4rem 0;
              width: 36.7rem;

              .input-wsS {
                background-color: #ffffff;
                border: solid 0.1rem #ffffff;
                border-radius: 0.8rem;
                box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
                box-sizing: border-box;
                height: 100%;
                overflow: hidden;
                padding: 0.4rem 0.4rem 0.4rem 1.4rem;
                position: relative;
                width: 100%;

                .content-sm6 {
                  align-items: center;
                  display: flex;
                  height: 100%;
                  width: 100%;

                  .auto-group-6kau-qT2 {
                    align-items: center;
                    box-sizing: border-box;
                    display: flex;
                    flex-shrink: 0;
                    height: 100%;
                    padding: 0.6rem 10.1rem 0.6rem 0.25rem;

                    .search-Ztp {
                      flex-shrink: 0;
                      height: 1.5rem;
                      margin-right: 1.05rem;
                      object-fit: contain;
                      vertical-align: top;
                      width: 1.5rem;
                    }
                    .text-6dr {
                      color: #ffffff;
                      flex-shrink: 0;
                      font-family: Inter, 'Source Sans Pro';
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      white-space: nowrap;
                    }
                  }
                  .button-RRE {
                    border-radius: 0.8rem;
                    flex-shrink: 0;
                    height: 100%;
                    width: 11.1rem;

                    .button-base-yxY {
                      align-items: center;
                      background-color: #ffffff;
                      border-radius: 0.8rem;
                      box-sizing: border-box;
                      display: flex;
                      height: 100%;
                      overflow: hidden;
                      padding: 0.8rem 2.1rem 0.8rem 1.6rem;
                      position: relative;
                      width: 100%;

                      .text-hde {
                        color: #ffffff;
                        flex-shrink: 0;
                        font-family: Inter, 'Source Sans Pro';
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.4285714286;
                        margin-right: 1.3rem;
                        white-space: nowrap;
                      }
                      .chevron-down-pyA {
                        flex-shrink: 0;
                        height: 0.5rem;
                        object-fit: contain;
                        vertical-align: top;
                        width: 1rem;
                      }
                    }
                  }
                }
              }
            }
          }
          .frame-4-exC {
            align-items: center;
            column-gap: 2rem;
            display: flex;
            flex-shrink: 0;
            height: calc(100% - 4.8rem);
            margin: 2.4rem 0;

            .home-nHi {
              color: #101828;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
            .materi-iSG {
              color: #1a906b;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              white-space: nowrap;
            }
            .ujian-FBJ {
              color: #101828;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
            .contact-us-azG {
              color: #101828;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
          }
        }
        .desain-tanpa-judul-14-1-JvG {
          flex-shrink: 0;
          height: 7rem;
          object-fit: cover;
          vertical-align: top;
          width: 7rem;
        }
      }
      .auto-group-e2tc-2LU {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 6.2rem 20.5rem 12.4rem 12rem;
        width: 100%;

        .auto-group-gb6t-jkg {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 30rem;
          width: 100%;

          .auto-group-yxre-HnC {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 4.5rem;

            .apa-itu-korespondensi-satu-satu-e6x {
              color: #141414;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 500;
              line-height: 1.25;
              max-width: 43.8rem;
            }
            .perhatikanderetan-rumah-di-suatu-daerah-setiap-rumah-memiliki-nomor-rumah-tertentu-yang-berbeda-dengan-nomor-rumah-di-daerah-tersebut-mungkinkah-satu-rumah-memiliki-dua-nomor-rumah-atau-mungkinkah-dua-rumah-memiliki-nomor-rumah-yang-sama-tentu-saja-jawabannya-tidakhubungan-antara-rumah-dan-nomor-rumahmerupakan-suatu-fungsi-yang-disebutkorespondensi-satu-satu-kvg {
              color: #1e1e1e;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.625;
              max-width: 62.3rem;

              .perhatikanderetan-rumah-di-suatu-daerah-setiap-rumah-memiliki-nomor-rumah-tertentu-yang-berbeda-dengan-nomor-rumah-di-daerah-tersebut-mungkinkah-satu-rumah-memiliki-dua-nomor-rumah-atau-mungkinkah-dua-rumah-memiliki-nomor-rumah-yang-sama-tentu-saja-jawabannya-tidakhubungan-antara-rumah-dan-nomor-rumahmerupakan-suatu-fungsi-yang-disebutkorespondensi-satu-satu-kvg-sub-0 {
              }
              .perhatikanderetan-rumah-di-suatu-daerah-setiap-rumah-memiliki-nomor-rumah-tertentu-yang-berbeda-dengan-nomor-rumah-di-daerah-tersebut-mungkinkah-satu-rumah-memiliki-dua-nomor-rumah-atau-mungkinkah-dua-rumah-memiliki-nomor-rumah-yang-sama-tentu-saja-jawabannya-tidakhubungan-antara-rumah-dan-nomor-rumahmerupakan-suatu-fungsi-yang-disebutkorespondensi-satu-satu-kvg-sub-1 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.625;
              }
              .perhatikanderetan-rumah-di-suatu-daerah-setiap-rumah-memiliki-nomor-rumah-tertentu-yang-berbeda-dengan-nomor-rumah-di-daerah-tersebut-mungkinkah-satu-rumah-memiliki-dua-nomor-rumah-atau-mungkinkah-dua-rumah-memiliki-nomor-rumah-yang-sama-tentu-saja-jawabannya-tidakhubungan-antara-rumah-dan-nomor-rumahmerupakan-suatu-fungsi-yang-disebutkorespondensi-satu-satu-kvg-sub-2 {
              }
            }
          }
          .section-img-cE8 {
            background-color: #d9d9d9;
            background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/XLw2aN5Z4MxgVKq7A3RFcV/files/image/70fad61a84592efbbaf86ef6cc593a0808b120e4');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 1rem;
            flex-shrink: 0;
            height: 27rem;
            margin-top: 2.9rem;
            width: 44.7rem;
          }
        }
        .ellipse-157-thS {
          background-color: #20b486;
          border-radius: 0.7rem;
          flex-shrink: 0;
          height: 1.4rem;
          margin-left: 76.5rem;
          width: 1.4rem;
        }
      }
    }
  }
  .frame-408-p5J {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .group-522-yTz {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 11.2rem 8rem 11.2rem;
      width: calc(100% - 22.4rem);

      .q1-HzU {
        background-color: #ffffff;
        border-radius: 1.5rem;
        box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 3.1rem;
        overflow: hidden;
        padding: 3rem 6.1rem 3.1rem 4rem;
        position: relative;
        width: 100%;

        .question-1-2BN {
          color: rgba(0, 0, 0, 0.8000000119);
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2125;
          margin-bottom: 1.8rem;
          max-width: 111.5rem;
        }
        .radio-buttons-Lhr {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 2.1rem;
          row-gap: 3rem;
          width: 11.3rem;

          .option-1-g12 {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: calc(100% - 0.1rem);

            .icons-24t {
              flex-shrink: 0;
              height: 2.4rem;
              margin-right: 1rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.4rem;
            }
            .option-1-xjE {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-top: 0.1rem;
              white-space: nowrap;
            }
          }
          .option-2-Uha {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            width: 100%;

            .icons-S8c {
              flex-shrink: 0;
              height: 2.4rem;
              margin-right: 1rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.4rem;
            }
            .option-2-P3r {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-top: 0.1rem;
              white-space: nowrap;
            }
          }
          .option-3-7Ve {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            width: 100%;

            .icons-sji {
              flex-shrink: 0;
              height: 2.4rem;
              margin-right: 1rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.4rem;
            }
            .option-3-Qje {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-top: 0.1rem;
              white-space: nowrap;
            }
          }
        }
      }
      .submit-tui {
        background-color: rgba(0, 0, 0, 0.8000000119);
        border-radius: 10rem;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        flex-shrink: 0;
        font-family: Koulen, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.805;
        margin: 0 49.7rem;
        padding: 0.855rem 8.309rem 0.145rem 8.791rem;
        white-space: nowrap;
        width: calc(100% - 99.4rem);
      }
    }
    .footer-jQY {
      background-color: #101828;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 48.1rem;
      padding: 6.4rem 0rem 8.8rem 0rem;
      width: 100%;

      .section-eGc {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .logo-and-supporting-text-o9W {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 8rem 11.2rem;

          .image-2-8Sg {
            flex-shrink: 0;
            height: 7.2rem;
            margin-bottom: 3.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 7.9826rem;
          }
          .supporting-text-45S {
            color: #eaecf0;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            max-width: 28.4rem;
          }
        }
        .section-n1S {
          background-color: #101728;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 9.7rem;
          padding: 0 11.2rem;
          width: 100%;

          .footer-text-vdS {
            color: #98a2b3;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            max-width: 32.1rem;
          }
        }
      }
    }
  }
}