.materi-outside-LsE {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .group-519-MXS {
    flex-shrink: 0;
    height: 93.5rem;
    margin-bottom: 3.5rem;
    position: relative;
    width: 100%;

    .rectangle-328-TaU {
      background-color: rgba(36, 187, 140, 0.0199999996);
      height: 90rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144rem;
    }
    .blur-Mfr {
      align-items: flex-end;
      display: flex;
      height: 93.5rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 182.1rem;

      .ellipse-155-rMi {
        background: radial-gradient(50% 50% at 50% 50%, rgba(36, 187, 140, 0.1199999973) 0%, rgba(36, 187, 140, 0.1199999973) 100%);
        border-radius: 23.8rem;
        flex-shrink: 0;
        height: 47.6rem;
        margin-right: 85.5rem;
        width: 47.6rem;
      }
      .ellipse-154-V9n {
        background: radial-gradient(50% 50% at 50% 50%, rgba(251, 206, 154, 0.1599999964) 0%, rgba(251, 206, 154, 0.1599999964) 100%);
        border-radius: 24.5rem;
        flex-shrink: 0;
        height: 49rem;
        margin-bottom: 44.5rem;
        width: 49rem;
      }
    }
    .group-499-mNC {
      height: 49.2rem;
      left: 104rem;
      object-fit: contain;
      position: absolute;
      top: 39.6rem;
      vertical-align: top;
      width: 41.4rem;
    }
    .group-498-gk4 {
      height: 48.9rem;
      left: 0;
      object-fit: contain;
      position: absolute;
      top: 10.8rem;
      vertical-align: top;
      width: 41.4rem;
    }
    .group-515-p5a {
      align-items: flex-start;
      display: flex;
      height: 53.5rem;
      left: 6.3rem;
      position: absolute;
      top: 22.6rem;
      width: 130.6838rem;

      .ellipse-159-jCY {
        background-color: #20b486;
        border-radius: 0.5rem;
        flex-shrink: 0;
        height: 1rem;
        margin-right: 28.6rem;
        width: 1rem;
      }
      .ellipse-158-rY4 {
        background-color: rgba(32, 180, 134, 0.6000000238);
        border-radius: 1.1rem;
        flex-shrink: 0;
        height: 2.2rem;
        margin: 51.3rem 87.2rem 0rem 0rem;
        width: 2.2rem;
      }
      .ellipse-156-X8Q {
        background: linear-gradient(351.54deg, #fed19c 93.53%, #deb483 256.12%);
        border-radius: 1.1rem;
        flex-shrink: 0;
        height: 2.2rem;
        margin: 7.6rem 4rem 0rem 0rem;
        width: 2.2rem;
      }
      .sketch-annotation-element-stroke-abstract-highlight-bling-line-1-D1E {
        flex-shrink: 0;
        height: 4.8154rem;
        margin-top: 4.1438rem;
        object-fit: contain;
        position: relative;
        vertical-align: top;
        width: 5.4838rem;
      }
    }
    .frame-7-gvQ {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 90rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144rem;

      .auto-group-wbt2-Rsz {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        padding: 2.8rem 12.3rem 0rem 12rem;
        width: 100%;

        .frame-5-kvG {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 7.2rem;
          margin: 0rem 31.617rem 0.1rem 0rem;

          .frame-3-6DS {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 100%;
            margin-right: 3rem;

            .image-2-SYC {
              flex-shrink: 0;
              height: 7.2rem;
              margin-right: 5.5rem;
              object-fit: cover;
              vertical-align: top;
              width: 7.9826rem;
            }
            .input-with-label-Gn8 {
              flex-shrink: 0;
              height: calc(100% - 2.8rem);
              margin: 1.4rem 0;
              width: 36.7rem;

              .input-aH2 {
                background-color: #ffffff;
                border: solid 0.1rem #ffffff;
                border-radius: 0.8rem;
                box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
                box-sizing: border-box;
                height: 100%;
                overflow: hidden;
                padding: 0.4rem 0.4rem 0.4rem 1.4rem;
                position: relative;
                width: 100%;

                .content-uKJ {
                  align-items: center;
                  display: flex;
                  height: 100%;
                  width: 100%;

                  .auto-group-qq6u-s1E {
                    align-items: center;
                    box-sizing: border-box;
                    display: flex;
                    flex-shrink: 0;
                    height: 100%;
                    padding: 0.6rem 10.1rem 0.6rem 0.25rem;

                    .search-zbe {
                      flex-shrink: 0;
                      height: 1.5rem;
                      margin-right: 1.05rem;
                      object-fit: contain;
                      vertical-align: top;
                      width: 1.5rem;
                    }
                    .text-jJL {
                      color: #ffffff;
                      flex-shrink: 0;
                      font-family: Inter, 'Source Sans Pro';
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      white-space: nowrap;
                    }
                  }
                  .button-DzC {
                    border-radius: 0.8rem;
                    flex-shrink: 0;
                    height: 100%;
                    width: 11.1rem;

                    .button-base-zEG {
                      align-items: center;
                      background-color: #ffffff;
                      border-radius: 0.8rem;
                      box-sizing: border-box;
                      display: flex;
                      height: 100%;
                      overflow: hidden;
                      padding: 0.8rem 2.1rem 0.8rem 1.6rem;
                      position: relative;
                      width: 100%;

                      .text-huN {
                        color: #ffffff;
                        flex-shrink: 0;
                        font-family: Inter, 'Source Sans Pro';
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.4285714286;
                        margin-right: 1.3rem;
                        white-space: nowrap;
                      }
                      .chevron-down-Qon {
                        flex-shrink: 0;
                        height: 0.5rem;
                        object-fit: contain;
                        vertical-align: top;
                        width: 1rem;
                      }
                    }
                  }
                }
              }
            }
          }
          .frame-4-DmE {
            align-items: center;
            column-gap: 2rem;
            display: flex;
            flex-shrink: 0;
            height: calc(100% - 4.8rem);
            margin: 2.4rem 0;

            .home-xD2 {
              color: #101828;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
            .materi-Vik {
              color: #1a906b;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              white-space: nowrap;
            }
            .ujian-FC8 {
              color: #101828;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
            .contact-us-b16 {
              color: #101828;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
          }
        }
        .desain-tanpa-judul-14-1-jNC {
          flex-shrink: 0;
          height: 7rem;
          object-fit: cover;
          vertical-align: top;
          width: 7rem;
        }
      }
      .auto-group-orgu-TJC {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 7.3rem 12rem 3.8rem 11.2rem;
        width: 100%;

        .heading-and-supporting-text-yGY {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 42rem 4.1rem 0rem;

          .heading-sMv {
            color: #101728;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 600;
            letter-spacing: -0.072rem;
            line-height: 1.2222222222;
            margin-bottom: 2rem;
            white-space: nowrap;
          }
          .supporting-text-yvk {
            color: #667084;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
          }
        }
        .frame-403-7GG {
          align-items: center;
          column-gap: 2.4rem;
          display: flex;
          flex-shrink: 0;
          height: 55.3rem;
          margin-left: 0.8rem;

          .blog-post-card-S3e {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-shadow: 0 0.4rem 0.6rem rgba(16, 24, 40, 0.0299999993), 0 1.2rem 1.6rem rgba(16, 24, 40, 0.0799999982);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            padding: 2.4rem 2.3rem 9.85rem 2.4rem;
            width: 38.4rem;

            .image-MgQ {
              border-radius: 0.4rem;
              flex-shrink: 0;
              height: 24rem;
              margin: 0rem 0.1rem 7.45rem 0rem;
              object-fit: cover;
              vertical-align: top;
              width: 33.6rem;
            }
            .heading-and-text-G2g {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .heading-and-icon-Dic {
                align-items: center;
                display: flex;
                flex-shrink: 0;
                margin: 0rem 0.1rem 1.2rem 0rem;
                width: calc(100% - 0.1rem);

                .heading-MZv {
                  color: #101828;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 600;
                  line-height: 1.3333333333;
                  margin-right: 24.2rem;
                  white-space: nowrap;
                }
                .icon-wrap-5kp {
                  flex-shrink: 0;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.4rem;
                }
              }
              .supporting-text-PmW {
                color: #667084;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                max-width: 33.7rem;
              }
            }
          }
          .blog-post-card-FHv {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-shadow: 0 0.4rem 0.6rem rgba(16, 24, 40, 0.0299999993), 0 1.2rem 1.6rem rgba(16, 24, 40, 0.0799999982);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            padding: 2.4rem 2.3rem 9.85rem 2.4rem;
            width: 38.4rem;

            .image-Afn {
              border-radius: 0.4rem;
              flex-shrink: 0;
              height: 24rem;
              margin: 0rem 0.1rem 7.45rem 0rem;
              object-fit: cover;
              vertical-align: top;
              width: 33.6rem;
            }
            .heading-and-text-63e {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .heading-and-icon-FSL {
                align-items: center;
                display: flex;
                flex-shrink: 0;
                margin: 0rem 0.1rem 1.2rem 0rem;
                width: calc(100% - 0.1rem);

                .heading-PHe {
                  color: #101828;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 600;
                  line-height: 1.3333333333;
                  margin-right: 23.5rem;
                  white-space: nowrap;
                }
                .icon-wrap-vHa {
                  flex-shrink: 0;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.4rem;
                }
              }
              .supporting-text-3NC {
                color: #667084;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                max-width: 33.7rem;
              }
            }
          }
          .blog-post-card-TRv {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-shadow: 0 0.4rem 0.6rem rgba(16, 24, 40, 0.0299999993), 0 1.2rem 1.6rem rgba(16, 24, 40, 0.0799999982);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            padding: 2.4rem 2.3rem 7.45rem 2.4rem;
            width: 38.4rem;

            .image-Non {
              border-radius: 0.4rem;
              flex-shrink: 0;
              height: 24rem;
              margin: 0rem 0.1rem 7.45rem 0rem;
              object-fit: cover;
              vertical-align: top;
              width: 33.6rem;
            }
            .heading-and-text-g3n {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .heading-and-icon-2dS {
                align-items: center;
                display: flex;
                flex-shrink: 0;
                margin: 0rem 0.1rem 1.2rem 0rem;
                width: calc(100% - 0.1rem);

                .heading-ZtG {
                  color: #101828;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 600;
                  line-height: 1.3333333333;
                  margin-right: 1.7rem;
                  white-space: nowrap;
                }
                .icon-wrap-WYc {
                  flex-shrink: 0;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.4rem;
                }
              }
              .supporting-text-r6g {
                color: #667084;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                max-width: 33.7rem;
              }
            }
          }
        }
      }
    }
  }
  .footer-u4x {
    background-color: #101828;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 48.1rem;
    padding: 6.4rem 0rem 10.4rem 0rem;
    width: 100%;

    .section-oAL {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .logo-and-supporting-text-Mhe {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0rem 6.4rem 11.2rem;

        .image-2-J76 {
          flex-shrink: 0;
          height: 7.2rem;
          margin-bottom: 3.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 7.9826rem;
        }
        .supporting-text-SDJ {
          color: #eaecf0;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          max-width: 28.4rem;
        }
      }
      .section-yU8 {
        background-color: #101728;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 9.7rem;
        padding: 0 11.2rem;
        width: 100%;

        .footer-text-KXz {
          color: #98a2b3;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          max-width: 32.1rem;
        }
      }
    }
  }
}
