.materi-fungsi-krx {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .group-520-a5J {
    flex-shrink: 0;
    height: 93.8rem;
    margin-bottom: 3.2rem;
    position: relative;
    width: 144.1rem;

    .group-519-GTv {
      height: 90rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144.1rem;

      .rectangle-328-oCx {
        background-color: rgba(36, 187, 140, 0.0199999996);
        height: 90rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 144rem;
      }
      .image-bg-qvL {
        background-color: #f2f2f2;
        border-radius: 1rem 1rem 0 0;
        height: 30.3rem;
        left: 81.1rem;
        position: absolute;
        top: 15.5rem;
        width: 45.4rem;
      }
      .fungsi-sangat-penting-karena-relasi-memberikan-pemahaman-tentang-koneksi-dan-keterkaitan-antara-elemen-dalam-himpunan-sementara-fungsi-memberikan-struktur-yang-terorganisir-untuk-memodelkan-dan-menganalisis-hubungan-matematis-XYG {
        color: #1e1e1e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 10.4rem;
        left: 12rem;
        line-height: 1.625;
        position: absolute;
        top: 34.2rem;
        width: 62.5rem;
      }
      .kenapa-fungsi-penting-skY {
        color: #141414;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 500;
        height: 5.8rem;
        left: 12rem;
        line-height: 1.45;
        position: absolute;
        top: 28.4rem;
        white-space: nowrap;
        width: 44.9rem;
      }
      .frame-7-Z7a {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 90rem;
        left: 0;
        padding-bottom: 43.8rem;
        position: absolute;
        top: 0;
        width: 144rem;

        .auto-group-wdos-3He {
          align-items: flex-end;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 6.2rem;
          padding: 2.8rem 12.3rem 0rem 12rem;
          width: 100%;

          .frame-5-JjN {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 7.2rem;
            margin: 0rem 31.617rem 0.1rem 0rem;

            .frame-3-phi {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              height: 100%;
              margin-right: 3rem;

              .image-2-m7A {
                flex-shrink: 0;
                height: 7.2rem;
                margin-right: 5.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 7.9826rem;
              }
              .input-with-label-HbJ {
                flex-shrink: 0;
                height: calc(100% - 2.8rem);
                margin: 1.4rem 0;
                width: 36.7rem;

                .input-o3r {
                  background-color: #ffffff;
                  border: solid 0.1rem #ffffff;
                  border-radius: 0.8rem;
                  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
                  box-sizing: border-box;
                  height: 100%;
                  overflow: hidden;
                  padding: 0.4rem 0.4rem 0.4rem 1.4rem;
                  position: relative;
                  width: 100%;

                  .content-iwW {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    width: 100%;

                    .auto-group-j59e-62x {
                      align-items: center;
                      box-sizing: border-box;
                      display: flex;
                      flex-shrink: 0;
                      height: 100%;
                      padding: 0.6rem 10.1rem 0.6rem 0.25rem;

                      .search-oxx {
                        flex-shrink: 0;
                        height: 1.5rem;
                        margin-right: 1.05rem;
                        object-fit: contain;
                        vertical-align: top;
                        width: 1.5rem;
                      }
                      .text-i4L {
                        color: #ffffff;
                        flex-shrink: 0;
                        font-family: Inter, 'Source Sans Pro';
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                        white-space: nowrap;
                      }
                    }
                    .button-QC4 {
                      border-radius: 0.8rem;
                      flex-shrink: 0;
                      height: 100%;
                      width: 11.1rem;

                      .button-base-xjN {
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 0.8rem;
                        box-sizing: border-box;
                        display: flex;
                        height: 100%;
                        overflow: hidden;
                        padding: 0.8rem 2.1rem 0.8rem 1.6rem;
                        position: relative;
                        width: 100%;

                        .text-hBA {
                          color: #ffffff;
                          flex-shrink: 0;
                          font-family: Inter, 'Source Sans Pro';
                          font-size: 1.4rem;
                          font-weight: 600;
                          line-height: 1.4285714286;
                          margin-right: 1.3rem;
                          white-space: nowrap;
                        }
                        .chevron-down-d4p {
                          flex-shrink: 0;
                          height: 0.5rem;
                          object-fit: contain;
                          vertical-align: top;
                          width: 1rem;
                        }
                      }
                    }
                  }
                }
              }
            }
            .frame-4-3PS {
              align-items: center;
              column-gap: 2rem;
              display: flex;
              flex-shrink: 0;
              height: calc(100% - 4.8rem);
              margin: 2.4rem 0;

              .home-Mf2 {
                color: #101828;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
              .materi-gBW {
                color: #1a906b;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
                white-space: nowrap;
              }
              .ujian-zCC {
                color: #101828;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
              .contact-us-WgL {
                color: #101828;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
            }
          }
          .desain-tanpa-judul-14-1-eXe {
            flex-shrink: 0;
            height: 7rem;
            object-fit: cover;
            vertical-align: top;
            width: 7rem;
          }
        }
        .auto-group-3kjt-n84 {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 20.5rem 0rem 12rem;
          width: calc(100% - 32.5rem);

          .auto-group-653a-gUL {
            flex-shrink: 0;
            height: 12.7rem;
            margin-right: 4.5rem;
            position: relative;
            width: 62.3rem;

            .dalam-matematika-konsep-relasi-merujuk-pada-hubungan-atau-keterkaitan-antara-dua-himpunan-elemen-sementara-fungsi-merupakan-kasus-khusus-relasi-yang-menetapkan-satu-elemen-dari-himpunan-asal-ke-satu-elemen-dari-himpunan-tujuan-DDN {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              height: 7.8rem;
              left: 0;
              line-height: 1.625;
              position: absolute;
              top: 4.9rem;
              width: 62.3rem;
            }
            .apa-itu-fungsi-1f2 {
              color: #141414;
              font-family: Inter, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 500;
              height: 5.8rem;
              left: 0;
              line-height: 1.45;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 28.5rem;
            }
          }
          .section-img-gWG {
            background-color: #d9d9d9;
            background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/XLw2aN5Z4MxgVKq7A3RFcV/files/image/70fad61a84592efbbaf86ef6cc593a0808b120e4');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 1rem;
            flex-shrink: 0;
            height: 27rem;
            margin-top: 2.9rem;
            width: 44.7rem;
          }
        }
      }
    }
    .image-bg-ZKA {
      background-color: #f2f2f2;
      border-radius: 1rem 1rem 0 0;
      height: 37.4rem;
      left: 11.6rem;
      position: absolute;
      top: 53.4rem;
      width: 27.7rem;
    }
    .section-data-52c {
      height: 44.2rem;
      left: 47.1rem;
      position: absolute;
      top: 49.6rem;
      width: 85.7rem;

      .bagaimana-ciri-ciri-dari-suatu-fungsi-oUQ {
        color: #141414;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.45;
        margin-bottom: 2rem;
        white-space: nowrap;
      }
      .section-content-vZ2 {
        height: 36.4rem;
        position: relative;
        width: 100%;

        .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn {
          color: #1e1e1e;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 36.4rem;
          left: 0;
          line-height: 1.625;
          position: absolute;
          top: 0;
          width: 85.7rem;

          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-0 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-1 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-2 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-3 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-4 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-5 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-6 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-7 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-8 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-9 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-10 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-11 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-12 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-13 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-14 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-15 {
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-16 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .fungsimerupakan-salah-satu-konsep-penting-dalam-matematika-dengan-mengenali-fungsi-atau-hubungan-fungsional-antar-unsur-unsur-matematika-kita-bisa-lebih-mudah-memahami-suatu-permasalahan-dan-menyelesaikannya-oleh-karena-itu-memahamifungsimerupakan-hal-yang-sangat-diharapkan-dalam-belajar-matematika-pertama-kali-mari-kita-pelajariciri-ciri-dari-suatu-fungsisebelumnya-mari-kita-ketahui-apa-sajaciri-ciri-fungsi-himpunan-a-dan-himpunan-bbukan-himpunan-kosong-pasangan-setiap-anggota-himpunan-atidak-boleh-lebih-dari-satu-setiap-anggota-himpunan-aharusmempunyai-pasangandi-himpunan-b-anggotahimpunan-bboleh-tidak-mempunyai-pasangan-di-a-atau-mempunyaipasangan-lebih-dari-satu-perlu-kalian-ketahui-dalam-konteksfungsidari-himpunan-a-ke-himpunan-b-makahimpunan-adisebutdomain-daerah-asaldanhimpunan-bdisebut-kodomain-daerah-kawan-sedangkanhimpunan-bagian-dari-himpunan-byang-semua-anggotanya-mendapat-pasangandi-anggota-himpunan-a-disebutrange-daerah-hasil-Gsn-sub-17 {
          }
        }
        .ellipse-157-MZ6 {
          background-color: #20b486;
          border-radius: 0.7rem;
          height: 1.4rem;
          left: 58.2rem;
          position: absolute;
          top: 18.8rem;
          width: 1.4rem;
        }
      }
    }
  }
  .frame-408-dmW {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .frame-404-xon {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 11.2rem 8rem 11.2rem;
      width: calc(100% - 22.4rem);

      .heading-and-supporting-text-5tQ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0rem 9.2rem 0.75rem;
        width: 117.6rem;

        .auto-group-hzxk-Pu6 {
          flex-shrink: 0;
          height: 68.8rem;
          position: relative;
          width: 100%;

          .heading-and-subheading-Ymz {
            height: 54.6rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 117.6rem;

            .heading-VhE {
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              height: 54.6rem;
              left: 0;
              letter-spacing: -0.032rem;
              line-height: 2.75;
              position: absolute;
              top: 0;
              width: 117.6rem;

              .heading-VhE-sub-0 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-1 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-2 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-3 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-4 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-5 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-6 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-7 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-8 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-VhE-sub-9 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
            }
            .bagaimana-menyatakan-suatu-fungsi-LBN {
              color: #141414;
              font-family: Inter, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 500;
              height: 5.8rem;
              left: 0;
              line-height: 1.45;
              position: absolute;
              top: 37.6rem;
              white-space: nowrap;
              width: 72.3rem;
            }
          }
          .heading-CzG {
            color: #101728;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            height: 23.4rem;
            left: 0;
            letter-spacing: -0.032rem;
            line-height: 2.75;
            position: absolute;
            top: 45.4rem;
            width: 116.1rem;

            .heading-CzG-sub-0 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-1 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-2 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-3 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-4 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-5 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-6 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-7 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-8 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-9 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-10 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-11 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-12 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-13 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-14 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-15 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-CzG-sub-16 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
          }
        }
        .auto-group-gi84-pfW {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 2rem;
          row-gap: 2rem;
          width: 100%;

          .image-6-k3N {
            flex-shrink: 0;
            height: 24.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 23.3rem;
          }
          .heading-VWk {
            color: #101728;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.032rem;
            line-height: 2.75;
            max-width: 56.3rem;

            .heading-VWk-sub-0 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-1 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-2 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-3 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-4 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-5 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-6 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-7 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-8 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-9 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-10 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-VWk-sub-11 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
          }
          .image-9-1WL {
            flex-shrink: 0;
            height: 7.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 31.1rem;
          }
          .heading-kD2 {
            color: #101728;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.032rem;
            line-height: 2.75;
            max-width: 52rem;

            .heading-kD2-sub-0 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-kD2-sub-1 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-kD2-sub-2 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
            .heading-kD2-sub-3 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 1.625;
            }
          }
          .image-10-Jfn {
            flex-shrink: 0;
            height: 22.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 22.2rem;
          }
          .heading-qvc {
            align-items: baseline;
            color: #1e1e1e;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.625;
            white-space: nowrap;

            .heading-qvc-sub-0 {
            }
            .heading-qvc-sub-1 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.625;
            }
            .heading-qvc-sub-2 {
            }
          }
        }
      }
      .group-522-Zk8 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .q1-6zx {
          background-color: #ffffff;
          border-radius: 1.5rem;
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          overflow: hidden;
          padding: 3rem 6.1rem 3.1rem 4rem;
          position: relative;
          width: 100%;

          .question-1-a9S {
            color: rgba(0, 0, 0, 0.8000000119);
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            margin-bottom: 1.8rem;
            max-width: 111.5rem;
          }
          .radio-buttons-56C {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-left: 2.1rem;
            row-gap: 3rem;
            width: 11.3rem;

            .option-1-QPN {
              align-items: center;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              margin-right: 0.1rem;
              width: calc(100% - 0.1rem);

              .icons-Xyn {
                flex-shrink: 0;
                height: 2.4rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.4rem;
              }
              .option-1-UPE {
                color: rgba(0, 0, 0, 0.8000000119);
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-top: 0.1rem;
                white-space: nowrap;
              }
            }
            .option-2-BoS {
              align-items: center;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              width: 100%;

              .icons-MC8 {
                flex-shrink: 0;
                height: 2.4rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.4rem;
              }
              .option-2-J7N {
                color: rgba(0, 0, 0, 0.8000000119);
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-top: 0.1rem;
                white-space: nowrap;
              }
            }
            .option-3-Dk8 {
              align-items: center;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              width: 100%;

              .icons-AQU {
                flex-shrink: 0;
                height: 2.4rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.4rem;
              }
              .option-3-4Vr {
                color: rgba(0, 0, 0, 0.8000000119);
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-top: 0.1rem;
                white-space: nowrap;
              }
            }
          }
        }
        .submit-iqJ {
          background-color: rgba(0, 0, 0, 0.8000000119);
          border-radius: 10rem;
          box-sizing: border-box;
          color: #ffffff;
          cursor: pointer;
          flex-shrink: 0;
          font-family: Koulen, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.805;
          margin: 0 49.7rem;
          padding: 0.855rem 8.309rem 0.145rem 8.791rem;
          white-space: nowrap;
          width: calc(100% - 99.4rem);
        }
      }
    }
    .footer-Kq6 {
      background-color: #101828;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 42.9rem;
      padding: 6.4rem 0rem 3.6rem 0rem;
      width: 100%;

      .section-41z {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .logo-and-supporting-text-c3W {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 8rem 11.2rem;

          .image-2-icL {
            flex-shrink: 0;
            height: 7.2rem;
            margin-bottom: 3.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 7.9826rem;
          }
          .supporting-text-otg {
            color: #eaecf0;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            max-width: 28.4rem;
          }
        }
        .section-7eU {
          background-color: #101728;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 9.7rem;
          padding: 0 11.2rem;
          width: 100%;

          .footer-text-rc4 {
            color: #98a2b3;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            max-width: 32.1rem;
          }
        }
      }
    }
  }
}
