.materi-relasi-g1z {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .group-520-vS8 {
    flex-shrink: 0;
    height: 94.4rem;
    margin-bottom: 2.6rem;
    position: relative;
    width: 144.1rem;

    .group-519-R7z {
      height: 90rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144.1rem;

      .rectangle-328-9Jt {
        background-color: rgba(36, 187, 140, 0.0199999996);
        height: 90rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 144rem;
      }
      .image-bg-FMv {
        background-color: #f2f2f2;
        border-radius: 1rem 1rem 0 0;
        height: 30.3rem;
        left: 81.1rem;
        position: absolute;
        top: 15.5rem;
        width: 45.4rem;
      }
      .relasi-berperan-penting-dalam-berbagai-cabang-matematika-dan-ilmu-lainnya-karena-membantu-kita-memahami-koneksi-dan-keterkaitan-antara-objek-atau-anggota-himpunan-relasi-ini-dapat-dilihat-sebagai-cara-untuk-menggambarkan-bagaimana-setiap-elemen-di-satu-himpunan-berhubungan-dengan-elemen-di-himpunan-lainnya-kpU {
        color: #1e1e1e;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 13rem;
        left: 12rem;
        line-height: 1.625;
        position: absolute;
        top: 32.2rem;
        width: 59.4rem;
      }
      .kenapa-relasi-penting-h7S {
        color: #141414;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 500;
        height: 5.8rem;
        left: 12rem;
        line-height: 1.45;
        position: absolute;
        top: 26.4rem;
        white-space: nowrap;
        width: 43.3rem;
      }
      .frame-7-bTi {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 90rem;
        left: 0;
        padding-bottom: 43.8rem;
        position: absolute;
        top: 0;
        width: 144rem;

        .auto-group-snxc-tBv {
          align-items: flex-end;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 6.2rem;
          padding: 2.8rem 12.3rem 0rem 12rem;
          width: 100%;

          .frame-5-Av8 {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 7.2rem;
            margin: 0rem 31.617rem 0.1rem 0rem;

            .frame-3-spY {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              height: 100%;
              margin-right: 3rem;

              .image-2-cn8 {
                flex-shrink: 0;
                height: 7.2rem;
                margin-right: 5.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 7.9826rem;
              }
              .input-with-label-XPJ {
                flex-shrink: 0;
                height: calc(100% - 2.8rem);
                margin: 1.4rem 0;
                width: 36.7rem;

                .input-cfe {
                  background-color: #ffffff;
                  border: solid 0.1rem #ffffff;
                  border-radius: 0.8rem;
                  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0500000007);
                  box-sizing: border-box;
                  height: 100%;
                  overflow: hidden;
                  padding: 0.4rem 0.4rem 0.4rem 1.4rem;
                  position: relative;
                  width: 100%;

                  .content-hSC {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    width: 100%;

                    .auto-group-2e3v-f88 {
                      align-items: center;
                      box-sizing: border-box;
                      display: flex;
                      flex-shrink: 0;
                      height: 100%;
                      padding: 0.6rem 10.1rem 0.6rem 0.25rem;

                      .search-BsA {
                        flex-shrink: 0;
                        height: 1.5rem;
                        margin-right: 1.05rem;
                        object-fit: contain;
                        vertical-align: top;
                        width: 1.5rem;
                      }
                      .text-6jE {
                        color: #ffffff;
                        flex-shrink: 0;
                        font-family: Inter, 'Source Sans Pro';
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                        white-space: nowrap;
                      }
                    }
                    .button-EKe {
                      border-radius: 0.8rem;
                      flex-shrink: 0;
                      height: 100%;
                      width: 11.1rem;

                      .button-base-bAC {
                        align-items: center;
                        background-color: #ffffff;
                        border-radius: 0.8rem;
                        box-sizing: border-box;
                        display: flex;
                        height: 100%;
                        overflow: hidden;
                        padding: 0.8rem 2.1rem 0.8rem 1.6rem;
                        position: relative;
                        width: 100%;

                        .text-Krt {
                          color: #ffffff;
                          flex-shrink: 0;
                          font-family: Inter, 'Source Sans Pro';
                          font-size: 1.4rem;
                          font-weight: 600;
                          line-height: 1.4285714286;
                          margin-right: 1.3rem;
                          white-space: nowrap;
                        }
                        .chevron-down-43n {
                          flex-shrink: 0;
                          height: 0.5rem;
                          object-fit: contain;
                          vertical-align: top;
                          width: 1rem;
                        }
                      }
                    }
                  }
                }
              }
            }
            .frame-4-V96 {
              align-items: center;
              column-gap: 2rem;
              display: flex;
              flex-shrink: 0;
              height: calc(100% - 4.8rem);
              margin: 2.4rem 0;

              .home-1t8 {
                color: #101828;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
              .materi-9UY {
                color: #1a906b;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
                white-space: nowrap;
              }
              .ujian-svL {
                color: #101828;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
              .contact-us-ig4 {
                color: #101828;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
            }
          }
          .desain-tanpa-judul-14-1-epc {
            flex-shrink: 0;
            height: 7rem;
            object-fit: cover;
            vertical-align: top;
            width: 7rem;
          }
        }
        .auto-group-xuyr-nA8 {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 20.5rem 0rem 12rem;
          width: calc(100% - 32.5rem);

          .auto-group-gs9z-ukY {
            flex-shrink: 0;
            height: 10.1rem;
            margin-right: 4.9rem;
            position: relative;
            width: 61.9rem;

            .dalam-matematika-konsep-relasi-merujuk-pada-hubungan-atau-keterkaitan-antara-dua-himpunan-elemen-ey2 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              height: 5.2rem;
              left: 0;
              line-height: 1.625;
              position: absolute;
              top: 4.9rem;
              width: 61.9rem;
            }
            .apa-itu-relasi-7rc {
              color: #141414;
              font-family: Inter, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 500;
              height: 5.8rem;
              left: 0;
              line-height: 1.45;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 26.9rem;
            }
          }
          .section-img-d4G {
            background-color: #d9d9d9;
            background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/XLw2aN5Z4MxgVKq7A3RFcV/files/image/70fad61a84592efbbaf86ef6cc593a0808b120e4');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 1rem;
            flex-shrink: 0;
            height: 27rem;
            margin-top: 2.9rem;
            width: 44.7rem;
          }
        }
      }
    }
    .image-bg-KSt {
      background-color: #f2f2f2;
      border-radius: 1rem 1rem 0 0;
      height: 37.4rem;
      left: 11.6rem;
      position: absolute;
      top: 53.4rem;
      width: 47.1rem;
    }
    .section-data-SXW {
      height: 43.5rem;
      left: 62.2rem;
      position: absolute;
      top: 50.9rem;
      width: 70.7rem;

      .bagaimana-menyatakan-suatu-relasi-NRA {
        color: #141414;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.45;
        margin-bottom: 2rem;
        white-space: nowrap;
      }
      .section-content-6MA {
        display: flex;
        flex-direction: column;

        .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S {
          color: #1e1e1e;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          margin-bottom: 1.9rem;
          max-width: 70.3rem;

          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-0 {
          }
          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-1 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-2 {
          }
          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-3 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-4 {
          }
          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-5 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
          }
          .relasi-antara-dua-himpunan-dapat-dinyatakan-dengan-tiga-cara-yaitu-dengan-diagram-panah-himpunan-pasangan-berurutan-dan-diagramcartesius-r5S-sub-6 {
          }
        }
        .auto-group-esxc-9kg {
          flex-shrink: 0;
          height: 28.6rem;
          position: relative;
          width: 69.9rem;

          .perhatikan-contoh-di-bawah-ini-hasil-pengambilan-data-mengenai-pelajaran-yang-disukai-oleh-lima-siswa-kelas-viii-diperoleh-seperti-pada-tabel-permasalahan-yang-terdapat-pada-tabel-dapat-dinyatakan-menggunakan-diagram-panah-diagram-kartesius-dan-himpunan-pasangan-berurutan-sebagaimana-ditunjukkan-di-bawah-ini-misalkan-a-abdul-budi-candra-dini-elok-b-matematika-ipa-ips-bahasa-inggris-kesenian-keterampilan-olahraga-pelajaran-yang-disukai-adalah-relasi-yang-menghubungkan-himpunan-a-ke-himpunan-b-hXJ {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            height: 28.6rem;
            left: 0;
            line-height: 1.625;
            position: absolute;
            top: 0;
            width: 69.9rem;

            .perhatikan-contoh-di-bawah-ini-hasil-pengambilan-data-mengenai-pelajaran-yang-disukai-oleh-lima-siswa-kelas-viii-diperoleh-seperti-pada-tabel-permasalahan-yang-terdapat-pada-tabel-dapat-dinyatakan-menggunakan-diagram-panah-diagram-kartesius-dan-himpunan-pasangan-berurutan-sebagaimana-ditunjukkan-di-bawah-ini-misalkan-a-abdul-budi-candra-dini-elok-b-matematika-ipa-ips-bahasa-inggris-kesenian-keterampilan-olahraga-pelajaran-yang-disukai-adalah-relasi-yang-menghubungkan-himpunan-a-ke-himpunan-b-hXJ-sub-0 {
              color: #1e1e1e;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
            }
            .perhatikan-contoh-di-bawah-ini-hasil-pengambilan-data-mengenai-pelajaran-yang-disukai-oleh-lima-siswa-kelas-viii-diperoleh-seperti-pada-tabel-permasalahan-yang-terdapat-pada-tabel-dapat-dinyatakan-menggunakan-diagram-panah-diagram-kartesius-dan-himpunan-pasangan-berurutan-sebagaimana-ditunjukkan-di-bawah-ini-misalkan-a-abdul-budi-candra-dini-elok-b-matematika-ipa-ips-bahasa-inggris-kesenian-keterampilan-olahraga-pelajaran-yang-disukai-adalah-relasi-yang-menghubungkan-himpunan-a-ke-himpunan-b-hXJ-sub-1 {
            }
          }
          .ellipse-157-ijE {
            background-color: #20b486;
            border-radius: 0.7rem;
            height: 1.4rem;
            left: 43.1rem;
            position: absolute;
            top: 10.4rem;
            width: 1.4rem;
          }
        }
      }
    }
  }
  .frame-408-Rde {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .frame-404-Bcp {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 11.2rem 8rem 11.2rem;
      width: calc(100% - 22.4rem);

      .auto-group-y8ay-v4c {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0rem 1.05rem 1.4rem 0.75rem;
        width: 100%;

        .heading-and-supporting-text-Soe {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;

          .heading-and-subheading-ncc {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2rem;

            .heading-Xq6 {
              color: #101728;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: -0.032rem;
              line-height: 2.75;
              margin-bottom: 1.2rem;
              max-width: 116.5rem;

              .heading-Xq6-sub-0 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-Xq6-sub-1 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-Xq6-sub-2 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-Xq6-sub-3 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-Xq6-sub-4 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-Xq6-sub-5 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
            }
            .image-13-iKE {
              flex-shrink: 0;
              height: 22.4rem;
              object-fit: cover;
              vertical-align: top;
              width: 29rem;
            }
          }
          .auto-group-54yz-eTn {
            flex-shrink: 0;
            height: 51.9rem;
            position: relative;
            width: 100%;

            .heading-CVJ {
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              height: 33.8rem;
              left: 0;
              letter-spacing: -0.032rem;
              line-height: 2.75;
              position: absolute;
              top: 0;
              width: 119.8rem;

              .heading-CVJ-sub-0 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-1 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-2 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-3 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-4 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-5 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-6 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-7 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-8 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-9 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-10 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-11 {
                color: #1e1e1e;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
              .heading-CVJ-sub-12 {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 1.625;
              }
            }
            .image-14-RMN {
              height: 21.3rem;
              left: 0;
              object-fit: cover;
              position: absolute;
              top: 30.6rem;
              vertical-align: top;
              width: 24rem;
            }
          }
        }
        .heading-A44 {
          color: #101728;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: -0.032rem;
          line-height: 2.75;
          margin-right: 0.4rem;
          max-width: 119.4rem;

          .heading-A44-sub-0 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
          .heading-A44-sub-1 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
          .heading-A44-sub-2 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
          .heading-A44-sub-3 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
          .heading-A44-sub-4 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
          .heading-A44-sub-5 {
            color: #1e1e1e;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
          .heading-A44-sub-6 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: -0.032rem;
            line-height: 1.625;
          }
        }
      }
      .group-522-EtU {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .q1-zck {
          background-color: #ffffff;
          border-radius: 1.5rem;
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          overflow: hidden;
          padding: 3rem 6.1rem 3.1rem 4rem;
          position: relative;
          width: 100%;

          .question-1-uDv {
            color: rgba(0, 0, 0, 0.8000000119);
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            margin-bottom: 1.8rem;
            max-width: 111.5rem;
          }
          .radio-buttons-23e {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-left: 2.1rem;
            row-gap: 3rem;
            width: 11.3rem;

            .option-1-kEY {
              align-items: center;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              margin-right: 0.1rem;
              width: calc(100% - 0.1rem);

              .icons-HVN {
                flex-shrink: 0;
                height: 2.4rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.4rem;
              }
              .option-1-pkC {
                color: rgba(0, 0, 0, 0.8000000119);
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-top: 0.1rem;
                white-space: nowrap;
              }
            }
            .option-2-XuW {
              align-items: center;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              width: 100%;

              .icons-Hdn {
                flex-shrink: 0;
                height: 2.4rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.4rem;
              }
              .option-2-EZ2 {
                color: rgba(0, 0, 0, 0.8000000119);
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-top: 0.1rem;
                white-space: nowrap;
              }
            }
            .option-3-ZLQ {
              align-items: center;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              width: 100%;

              .icons-vRr {
                flex-shrink: 0;
                height: 2.4rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.4rem;
              }
              .option-3-UCU {
                color: rgba(0, 0, 0, 0.8000000119);
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-top: 0.1rem;
                white-space: nowrap;
              }
            }
          }
        }
        .submit-kQt {
          background-color: rgba(0, 0, 0, 0.8000000119);
          border-radius: 10rem;
          box-sizing: border-box;
          color: #ffffff;
          cursor: pointer;
          flex-shrink: 0;
          font-family: Koulen, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.805;
          margin: 0 49.7rem;
          padding: 0.855rem 8.309rem 0.145rem 8.791rem;
          white-space: nowrap;
          width: calc(100% - 99.4rem);
        }
      }
    }
    .footer-NhA {
      background-color: #101828;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 48.1rem;
      padding: 6.4rem 0rem 8.8rem 0rem;
      width: 100%;

      .section-iFE {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .logo-and-supporting-text-55n {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 8rem 11.2rem;

          .image-2-bpp {
            flex-shrink: 0;
            height: 7.2rem;
            margin-bottom: 3.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 7.9826rem;
          }
          .supporting-text-7oA {
            color: #eaecf0;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            max-width: 28.4rem;
          }
        }
        .section-eo6 {
          background-color: #101728;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 9.7rem;
          padding: 0 11.2rem;
          width: 100%;

          .footer-text-QGU {
            color: #98a2b3;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            max-width: 32.1rem;
          }
        }
      }
    }
  }
}
