.frame-409-48C {
  height: 102.4rem;
  width: 100%;

  .sign-in-6Kn {
    align-items: center;
    background-color: #ffffff;
    border-radius: 3.2rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 1.2rem 1.2rem 1.2rem 9.6rem;
    position: relative;
    width: 100%;

    .content-m4Y {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: calc(100% - 45.2rem);
      margin: 24.2rem 9.6rem 21rem 0rem;
      width: 41.1rem;

      .text-FVW {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .sign-in-CQk {
          color: #232323;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 700;
          letter-spacing: -0.16rem;
          line-height: 1.1;
          margin-bottom: 1.2rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .silahkan-masuk-untuk-melanjutkan-ke-akun-anda-RoJ {
          color: #969696;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
      .auto-group-sang-vVA {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-top: 2.15rem;
        width: 100%;

        .form-GJ8 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 1.2rem 3.2rem 0rem;
          row-gap: 2rem;
          width: 39.9rem;

          .input-ZY8 {
            border: solid 0.15rem #357aff;
            border-radius: 1rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: 0rem 1.2rem 1.6rem 1.2rem;
            width: 100%;

            .label-eCC {
              align-items: center;
              background-color: #ffffff;
              color: #357aff;
              display: flex;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 500;
              height: 2.1rem;
              justify-content: center;
              line-height: 1.5;
              margin-bottom: 0.55rem;
              white-space: nowrap;
              width: 4.4rem;
            }
            .auto-group-kqtp-7Lg {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              margin: 0rem 12.4rem 0rem 0.4rem;
              width: calc(100% - 12.8rem);

              .jonaskahnwaldgmailcom-SNx {
                color: #232323;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                margin-right: 0.2rem;
                white-space: nowrap;
              }
              .item--ZTa {
                color: #232323;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                white-space: nowrap;
              }
            }
          }
          .input-3de {
            align-items: center;
            border: solid 0.1rem #d9d9d9;
            border-radius: 1rem;
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            padding: 1.6rem 1.816rem 1.6rem 1.6rem;
            width: 100%;

            .password-ada {
              color: #9a9a9a;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              margin-right: 26.2156rem;
              white-space: nowrap;
            }
            .eye-off-6rp {
              flex-shrink: 0;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9688rem;
            }
          }
          .keep-DgY {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            margin-right: 22.3rem;
            padding-left: 0.3rem;
            width: calc(100% - 22.3rem);

            .square-Mnk {
              flex-shrink: 0;
              height: 1.8rem;
              margin-right: 1.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8rem;
            }
            .keep-me-logged-in-h5v {
              color: #232323;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
          }
          .button-RGp {
            align-items: center;
            background-color: #49c7ae;
            border-radius: 1rem;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 600;
            height: 5.4rem;
            justify-content: center;
            letter-spacing: -0.018rem;
            line-height: 1.2000000212;
            white-space: nowrap;
            width: 100%;
          }
          .or-6dr {
            align-items: center;
            column-gap: 1rem;
            display: flex;
            flex-shrink: 0;
            width: 100%;

            .vector-1-efN {
              flex-shrink: 0;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              width: 18.15rem;
            }
            .or-bKi {
              color: #6d6d6d;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              white-space: nowrap;
            }
            .vector-2-Xz4 {
              flex-shrink: 0;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              width: 18.15rem;
            }
          }
          .button-HCY {
            align-items: center;
            background-color: #ffffff;
            border: solid 0.1rem #e6e8e7;
            border-radius: 1rem;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0299999993);
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            padding: 1.6rem 10.45rem 1.6rem 10.1rem;
            width: 100%;

            .sign-in-with-google-pTN {
              color: #232323;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 600;
              letter-spacing: -0.018rem;
              line-height: 1.2000000212;
              margin-right: 1.15rem;
              white-space: nowrap;
            }
            .plus-vFW {
              flex-shrink: 0;
              height: 1.7rem;
              margin-top: 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.7rem;
            }
          }
        }
        .need-an-account-create-one-Mrc {
          align-items: baseline;
          color: #6c6c6c;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          margin-right: 1.2rem;
          text-align: center;
          white-space: nowrap;

          .need-an-account-create-one-Mrc-sub-0 {
          }
          .need-an-account-create-one-Mrc-sub-1 {
            color: #357aff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5;
            text-decoration-line: underline;
          }
        }
      }
    }
    .container-GEp {
      border-radius: 2.4rem;
      flex-shrink: 0;
      height: 100rem;
      object-fit: cover;
      vertical-align: top;
      width: 82.5rem;
    }
  }
}
