.frame-410-kJg {
  height: 102.4rem;
  width: 100%;

  .sign-up-AtC {
    align-items: center;
    background-color: #ffffff;
    border-radius: 3.2rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 1.2rem 1.2rem 1.2rem 9.6rem;
    position: relative;
    width: 100%;

    .content-Sqi {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: calc(100% - 33.8rem);
      margin: 18.5rem 10.8rem 15.3rem 0rem;
      width: 39.9rem;

      .text-LgC {
        flex-shrink: 0;
        margin: 0rem 5.8rem 2.15rem 0rem;
        width: 34.1rem;

        .sign-up-fCg {
          color: #232323;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 700;
          letter-spacing: -0.16rem;
          line-height: 1.1;
          margin-bottom: 1.2rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .sign-up-to-enjoy-the-feature-of-revolutie-usi {
          color: #969696;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
      .form-pUt {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        width: 100%;

        .input-xb6 {
          border: solid 0.15rem #d9d9d9;
          border-radius: 1rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.95rem;
          padding: 0rem 1.2rem 1.6rem 1.2rem;
          width: 100%;

          .label-fkQ {
            align-items: center;
            background-color: #ffffff;
            color: #9a9a9a;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            height: 2.1rem;
            justify-content: center;
            line-height: 1.5;
            margin-bottom: 0.55rem;
            white-space: nowrap;
            width: 8.2rem;
          }
          .jonas-khanwald-mKa {
            align-items: baseline;
            color: #232323;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            margin-left: 0.4rem;
            white-space: nowrap;

            .jonas-khanwald-mKa-sub-0 {
            }
            .jonas-khanwald-mKa-sub-1 {
              color: #232323;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .input-F1n {
          border: solid 0.15rem #d9d9d9;
          border-radius: 1rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.95rem;
          padding: 0rem 1.2rem 1.6rem 1.2rem;
          width: 100%;

          .label-N6Q {
            align-items: center;
            background-color: #ffffff;
            color: #9a9a9a;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            height: 2.1rem;
            justify-content: center;
            line-height: 1.5;
            margin-bottom: 0.55rem;
            white-space: nowrap;
            width: 9.3rem;
          }
          .auto-group-yvqi-SMA {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin: 0rem 18.1rem 0rem 0.7rem;
            width: calc(100% - 18.8rem);

            .calendar-9WU {
              flex-shrink: 0;
              height: 2rem;
              margin-right: 1.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8rem;
            }
            .december-1997-fDv {
              color: #232323;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              white-space: nowrap;
            }
          }
        }
        .input-kmA {
          border: solid 0.15rem #357aff;
          border-radius: 1rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2rem;
          padding: 0rem 1.2rem 1.6rem 1.2rem;
          width: 100%;

          .label-5YY {
            align-items: center;
            background-color: #ffffff;
            color: #357aff;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            height: 2.1rem;
            justify-content: center;
            line-height: 1.5;
            margin-bottom: 0.55rem;
            white-space: nowrap;
            width: 4.4rem;
          }
          .auto-group-cqst-mwA {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin: 0rem 12.4rem 0rem 0.4rem;
            width: calc(100% - 12.8rem);

            .jonaskahnwaldgmailcom-6Ck {
              color: #232323;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              margin-right: 0.2rem;
              white-space: nowrap;
            }
            .item--Qz8 {
              color: #232323;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 300;
              line-height: 1.5;
              white-space: nowrap;
            }
          }
        }
        .input-Jpc {
          align-items: center;
          border: solid 0.1rem #d9d9d9;
          border-radius: 1rem;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 2rem;
          padding: 1.6rem 1.816rem 1.6rem 1.6rem;
          width: 100%;

          .password-EyA {
            color: #9a9a9a;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            margin-right: 26.2156rem;
            white-space: nowrap;
          }
          .eye-off-nDz {
            flex-shrink: 0;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.9688rem;
          }
        }
        .button-6Eg {
          align-items: center;
          background-color: #49c7ae;
          border-radius: 1rem;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 600;
          height: 5.4rem;
          justify-content: center;
          letter-spacing: -0.018rem;
          line-height: 1.2000000212;
          margin-bottom: 2rem;
          white-space: nowrap;
          width: 100%;
        }
        .or-ypG {
          align-items: center;
          column-gap: 1rem;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 100%;

          .vector-1-XKz {
            flex-shrink: 0;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            width: 18.15rem;
          }
          .or-rdA {
            color: #6d6d6d;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
          }
          .vector-2-bqe {
            flex-shrink: 0;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            width: 18.15rem;
          }
        }
        .button-MZv {
          align-items: center;
          background-color: #ffffff;
          border: solid 0.1rem #e6e8e7;
          border-radius: 1rem;
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0299999993);
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          padding: 1.6rem 9.45rem 1.6rem 9.1rem;
          width: 100%;

          .continue-with-google-HyN {
            color: #232323;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: -0.018rem;
            line-height: 1.2000000212;
            margin-right: 1.15rem;
            white-space: nowrap;
          }
          .plus-DME {
            flex-shrink: 0;
            height: 1.7rem;
            margin-top: 0rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.7rem;
          }
        }
      }
      .already-have-an-account-sign-in-swa {
        align-items: baseline;
        color: #6c6c6c;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        white-space: nowrap;

        .already-have-an-account-sign-in-swa-sub-0 {
        }
        .already-have-an-account-sign-in-swa-sub-1 {
          color: #357aff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          text-decoration-line: underline;
        }
      }
    }
    .container-hp8 {
      border-radius: 2.4rem;
      flex-shrink: 0;
      height: 100rem;
      object-fit: cover;
      vertical-align: top;
      width: 82.5rem;
    }
  }
}
